/* Цвет основного текста #2E2F42 */
/* Вторичный цвет фона #2E2F42 */
/* Цвет текста заголовков #2E2F42 */
/* Цвет текста под заголовками #434455 */
/* Цвет текста заголовка на темном фоне и текста кнопки #434455 */
/* Цвет текста в футере #F4F4FD */

/* Стилизация header */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');


:root {
    --primary-text-color: #434455;
    --primary-background-color: #FFFFFF;
    --primary-title-color: #2E2F42;
    --primary-background2-color: #2E2F42;
}

body {
    background-color: var(--primary-background-color);
    font-family: 'Raleway', sans-serif;
    color: var(--primary-text-color);
    width: 1440px;
    height: 2592px;

}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

p {
    color: var(--primary-text-color);
}

span {
    color: #4D5AE5;
}