/* Цвет основного текста #2E2F42 */
/* Вторичный цвет фона #2E2F42 */
/* Цвет текста заголовков #2E2F42 */
/* Цвет текста под заголовками #434455 */
/* Цвет текста заголовка на темном фоне и текста кнопки #434455 */
/* Цвет текста в футере #F4F4FD */

/* Стилизация header */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');


:root {
    --primary-text-color: #434455;
    --primary-background-color: #FFFFFF;
    --primary-title-color: #2E2F42;
    --primary-background2-color: #2E2F42;
    --primary-footer-text-color: #f4f4fd;
    --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
    --accent-color-link:#404BBF;
}

body {
    background-color: var(--primary-background-color);
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
}
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
.link:hover,
.link:focus {
    color: #404bbf;
}

.title {
    color: var(--primary-title-color);
}

.text {
    color: var(--primary-text-color);
}

/**Контейнера компоненты**/
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-title-color);
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/**- Шапка страницы -**/
.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-content {
    display: flex;
    align-items: center;
}

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

span {
    color: #2e2f42;
}
.nav-box {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
    align-items: center;
    margin-left: 76px;
    gap: 40px;
}
.navigation-item-link{
    color: var(--primary-title-color);}
.navigation-item-link:hover,
.navigation-item-link:focus{color: var(--accent-color-link);}


.navigation-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}




.address {
    margin-left: auto;
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-item {
    display: block;
    line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    padding-top: 24px;
    padding-bottom: 24px
}
/**--------------- Херо секция -------------**/
.hero {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #2e2f42;
    background-image: var(--bg-gradient), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    height: 600px;
    
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}

.hero-title {
    margin-bottom: 48px;
    width: 496px;

    margin-left: auto;
    margin-right: auto;

    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-button {

    display: inline-block;
    padding: 16px 32px 16px 32px;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
    color: #FFFFFF
}

/**----------------- < !-- Предложения --> ---------------**/
.features {
    padding: 120px 0;
}

.features-list {
    display: flex;
    justify-content: space-between;
}

.features-list-item {
    max-width: 264px;
}

.features-icon-div{display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
}

.features-list-title {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /* identical to box height, or 120% */

    letter-spacing: 0.02em;
    color: var(--primary-title-color);
}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* or 150% */
    letter-spacing: 0.02em;
}
/**----------- < !-- Продукты компании --> --------**/
.product {
    padding-bottom: 120px;
}
.product-title {
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    /* identical to box height, or 111% */
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    /* NAVY BLUE */

    color: var(--primary-title-color);
}

.product-list {
    display: flex;
    justify-content: space-between;
}

.product-list-item {
    width: calc(33.33% - 24px);
}
/**---------------< !-- фотографии сотрудников компании -->------------**/
.team-section {
    background-color: #F4F4FD;
    padding-top:120px;
    padding-bottom: 120px;
}

.team-title {
    
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    text-align: center;
}
.team-list-item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /* identical to box height, or 120% */
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
    margin-bottom: 8px;
}
.team-text {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
}
.team-item-wrap {
    padding-top: 32px;
    padding-bottom: 32px;
}
.team-social-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 0 16px;
}

.team-social-item {
    width: 40px;
    height: 40px;
}

.team-social-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.team-social-link:hover,
.team-social-link:focus{background-color: var(--accent-color-link);}

/**----------------------------<Customers>----------------------**/
.section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.cutomers-item-div {
    display: flex;
    justify-content: center
}

.customers-title {margin-bottom: 72px;}

.customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.customers-list-item {
    width: 168px;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
}

.customers-icon:hover,
.customers-icon:focus{fill: var(--accent-color-link);}

.customers-link {width: 100%;
height: 100%;display: flex;align-items: center;justify-content: center;
}

/**----------------------------< !-- Подвал страницы -->--------------------**/
.footer {
    background-color: var(--primary-background2-color);
    padding: 100px 0;
}

.footer-container {display: flex;
    gap: 120px;
;}


.footer-span,
.footer-text {
    color: var(--primary-footer-text-color);
}

.footer-text {
    margin-top: 17.5px;
    width: 266px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* or 150% */
    letter-spacing: 0.02em;
}
.footer-wrap-about{display: flex; flex-wrap: wrap; width: 264px;}
.footer-wrap-social{
    display: flex;
    flex-wrap: wrap;
    width: 208px;
    height: 80px;
}
.footer-social-title {color: #FFFFFF;
margin-bottom: 16px;}

.footer-social-list {display: flex;
    justify-content: center;
gap:16px;}

.footer-socia-item {width: 40px; height: 40px;}

.footer-social-link {width: 100%;
    height: 100%;
    background-color: #4D5AE5;;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;}
.footer-social-link:hover,
.footer-social-link:focus{background-color: #31D0AA;}

.footer-social-icon {}

/**----------------------Portfolio-----------------**/
/**Кнопки**/
.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.page-list-btn {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-button {
    padding: 12px 24px;
    background-color: #F4F4FD;
    color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    /* identical to box height, or 150% */
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: #FFFFFF;
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/**----------------Карточки-------------**/


.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;

}

.product-list-item {
    width: calc ((100% -48px) / 3);
}


.portfolio-text-item {
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 32px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list-title {
    margin-bottom: 8px;
    color: var(--primary-title-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /* identical to box height, or 120% */
    letter-spacing: 0.02em;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-text-item:hover,
.portfolio-text-item:focus{box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}
