/* Цвет основного текста #2E2F42 */
/* Вторичный цвет фона #2E2F42 */
/* Цвет текста заголовков #2E2F42 */
/* Цвет текста под заголовками #434455 */
/* Цвет текста заголовка на темном фоне и текста кнопки #434455 */
/* Цвет текста в футере #F4F4FD */

/* Стилизация header */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');


:root {
    --primary-text-color: #434455;
    --primary-background-color: #FFFFFF;
    --primary-title-color: #2E2F42;
    --primary-background2-color: #2E2F42;
}

body {
    background-color: var(--primary-background-color);
    font-family: 'Raleway', sans-serif;
    color: var(--primary-text-color);
    width: 1440px;
    height: 2592px;

}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

p {
    color: var(--primary-text-color);
}
.logo{
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}span {
    color: #2e2f42;
}

.site-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.link:hover,
.link:focus {
    color: #404bbf;
}

.contacts-nav {
    font-style: normal;
}

.contacts-nav a {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contacts-nav a:hover,
.contacts-nav a:focus{color: #404bbf}
.hero {
    background-color: #2e2f42
}
.hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 16px 32px;
        gap: 10px;
        width: 169px;
            height: 56px;
            left: 20px;
            top: 20px;
            
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
    color: #FFFFFF
}